src/main/resources/static/wsdl/parlayx_sms_send_interface_2_2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="parlayx_sms_send_interface" targetNamespace="http://www.csapi.org/wsdl/parlayx/sms/send/v2_2/interface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:parlayx_sms_send_interface="http://www.csapi.org/schema/parlayx/sms/send/v2_2/local" xmlns:interface="http://www.csapi.org/wsdl/parlayx/sms/send/v2_2/interface" xmlns:parlayx_common_faults="http://www.csapi.org/wsdl/parlayx/common/v2_0/faults" >
	<wsdl:import location="parlayx_common_faults_2_0.wsdl" namespace="http://www.csapi.org/wsdl/parlayx/common/v2_0/faults" />
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/parlayx/sms/send/v2_2/local" xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v2_1" xmlns:parlayx_sms_send_local_xsd="http://www.csapi.org/schema/parlayx/sms/send/v2_2/local" xmlns:parlayx_sms_xsd="http://www.csapi.org/schema/parlayx/sms/v2_2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import
				namespace="http://www.csapi.org/schema/parlayx/sms/v2_2"
				schemaLocation="parlayx_sms_types_2_2.xsd" />
			<xsd:import
				namespace="http://www.csapi.org/schema/parlayx/common/v2_1"
				schemaLocation="parlayx_common_types_2_1.xsd" />
			<xsd:element name="sendSms"
				type="parlayx_sms_send_local_xsd:sendSms" />
			<xsd:complexType name="sendSms">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="addresses" type="xsd:anyURI" />
					<xsd:element maxOccurs="1" minOccurs="0" name="senderName" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0" name="senderAddress" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0" name="charging" type="parlayx_common_xsd:ChargingInformation" />
					<xsd:element name="message" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0" name="receiptRequest" type="parlayx_common_xsd:SimpleReference" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="sendSmsResponse"	type="parlayx_sms_send_local_xsd:sendSmsResponse" />
			<xsd:complexType name="sendSmsResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="sendSmsLogo" type="parlayx_sms_send_local_xsd:sendSmsLogo" />
			<xsd:complexType name="sendSmsLogo">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="addresses" type="xsd:anyURI" />
					<xsd:element maxOccurs="1" minOccurs="0" name="senderName" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0" name="charging" type="parlayx_common_xsd:ChargingInformation" />
					<xsd:element name="image" type="xsd:base64Binary" />
					<xsd:element name="smsFormat"
						type="parlayx_sms_xsd:SmsFormat" />
					<xsd:element maxOccurs="1" minOccurs="0" name="receiptRequest" type="parlayx_common_xsd:SimpleReference" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="sendSmsLogoResponse" type="parlayx_sms_send_local_xsd:sendSmsLogoResponse" />
			<xsd:complexType name="sendSmsLogoResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="sendSmsRingtone"	type="parlayx_sms_send_local_xsd:sendSmsRingtone" />
			<xsd:complexType name="sendSmsRingtone">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="addresses" type="xsd:anyURI" />
					<xsd:element maxOccurs="1" minOccurs="0" name="senderName" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="0" name="charging" type="parlayx_common_xsd:ChargingInformation" />
					<xsd:element name="ringtone" type="xsd:string" />
					<xsd:element name="smsFormat"
						type="parlayx_sms_xsd:SmsFormat" />
					<xsd:element maxOccurs="1" minOccurs="0" name="receiptRequest" type="parlayx_common_xsd:SimpleReference" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="sendSmsRingtoneResponse" type="parlayx_sms_send_local_xsd:sendSmsRingtoneResponse" />
			<xsd:complexType name="sendSmsRingtoneResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getSmsDeliveryStatus" type="parlayx_sms_send_local_xsd:getSmsDeliveryStatus" />
			<xsd:complexType name="getSmsDeliveryStatus">
				<xsd:sequence>
					<xsd:element name="requestIdentifier" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getSmsDeliveryStatusResponse" type="parlayx_sms_send_local_xsd:getSmsDeliveryStatusResponse" />
			<xsd:complexType name="getSmsDeliveryStatusResponse">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="result" type="parlayx_sms_xsd:DeliveryInformation" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SendSms_sendSmsRequest">
		<wsdl:part element="parlayx_sms_send_interface:sendSms"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="SendSms_sendSmsResponse">
		<wsdl:part
			element="parlayx_sms_send_interface:sendSmsResponse" name="result" />
	</wsdl:message>
	<wsdl:message name="SendSms_sendSmsLogoRequest">
		<wsdl:part element="parlayx_sms_send_interface:sendSmsLogo"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="SendSms_sendSmsLogoResponse">
		<wsdl:part
			element="parlayx_sms_send_interface:sendSmsLogoResponse"
			name="result" />
	</wsdl:message>
	<wsdl:message name="SendSms_sendSmsRingtoneRequest">
		<wsdl:part
			element="parlayx_sms_send_interface:sendSmsRingtone"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="SendSms_sendSmsRingtoneResponse">
		<wsdl:part
			element="parlayx_sms_send_interface:sendSmsRingtoneResponse" name="result" />
	</wsdl:message>
	<wsdl:message name="SendSms_getSmsDeliveryStatusRequest">
		<wsdl:part
			element="parlayx_sms_send_interface:getSmsDeliveryStatus" name="parameters" />
	</wsdl:message>
	<wsdl:message name="SendSms_getSmsDeliveryStatusResponse">
		<wsdl:part
			element="parlayx_sms_send_interface:getSmsDeliveryStatusResponse" name="result" />
	</wsdl:message>
	<wsdl:portType name="SendSms">
		<wsdl:operation name="sendSms">
			<wsdl:input message="interface:SendSms_sendSmsRequest" />
			<wsdl:output message="interface:SendSms_sendSmsResponse" />
			<wsdl:fault	message="parlayx_common_faults:ServiceException" name="ServiceException" />
			<wsdl:fault	message="parlayx_common_faults:PolicyException"	name="PolicyException" />
		</wsdl:operation>
		<wsdl:operation name="sendSmsLogo">
			<wsdl:input message="interface:SendSms_sendSmsLogoRequest" />
			<wsdl:output message="interface:SendSms_sendSmsLogoResponse" />
			<wsdl:fault	message="parlayx_common_faults:ServiceException" name="ServiceException" />
			<wsdl:fault message="parlayx_common_faults:PolicyException"	name="PolicyException" />
		</wsdl:operation>
		<wsdl:operation name="sendSmsRingtone">
			<wsdl:input	message="interface:SendSms_sendSmsRingtoneRequest" />
			<wsdl:output message="interface:SendSms_sendSmsRingtoneResponse" />
			<wsdl:fault	message="parlayx_common_faults:ServiceException" name="ServiceException" />
			<wsdl:fault	message="parlayx_common_faults:PolicyException"	name="PolicyException" />
		</wsdl:operation>
		<wsdl:operation name="getSmsDeliveryStatus">
			<wsdl:input	message="interface:SendSms_getSmsDeliveryStatusRequest" />
			<wsdl:output message="interface:SendSms_getSmsDeliveryStatusResponse" />
			<wsdl:fault	message="parlayx_common_faults:ServiceException" name="ServiceException" />
			<wsdl:fault	message="parlayx_common_faults:PolicyException"	name="PolicyException" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>